{% extends "bbase.html" %}

{% block title %} 博客 - 裔传洲的个人网站 {% endblock %}

{% block content %}
    <div class="container">
        <h1>
            <a href="/">
            <i class="icon-arrow-left-3 fg-darker smaller"></i>
            </a>
            博客
            <small class="on-right"></small>
        </h1>
        <div class="grid no-margin">
            {% for post in posts.object_list %}
                <div class="row border" style="background-color: #fdfdfd; margin: 10px 0 20px;" >
                    <div class="span4 no-tablet-portrait no-phone">
                        <a href="/blog/post/{{post.id}}/">
                        <img src="{{post.cover|cut:'..'}}">
                        </a>
                    </div>
                    <div class="span8">
                        <div class="post-title">
                            <h4>
                            <a href="/blog/post/{{post.id}}/">{{post.title}}</a>
                            </h4>
                        </div>
                        <div>
                            <div class="button default small">{{post.created|date:"Y-m-d"}}</div>
                            {% if post.topic %}
                                <div class="button danger small">{{post.topic.name}}</div>
                            {% endif %}
                            {% for tag in post.tags.all %}
                                <a href="/blog/tag/{{tag.id}}/" class="button primary small">{{tag.name}}</a>
                            {% endfor %}
                        </div>
                        <div>{{post.body|safe|linebreaks}}</div>
                        <div>
                            {% for k,v in cmtcnt.items %}
                            {% ifequal k post.id %}
                            <a href="/blog/post/{{post.id}}/#comment" class="button link">评论 {{v}}</a>
                            {% endifequal %}
                            {% endfor %}
                            <a href="/blog/post/{{post.id}}/" class="button link">阅读 {{post.vtime}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if posts.object_list|length = 0 %}
            <div style='height: 600px;'>抱歉，没有查到相关的博客</div>
        {% endif %}

        <!-- Next/Prev page links -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top:20px;margin-left:-20px;">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{posts.previous_page_number}}">newer entries &lt;&lt;</a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{posts.number}} of {{posts.paginator.num_pages}}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">&gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>

{% endblock %}
