<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/metro/css/metro-bootstrap.css">
		<link rel="stylesheet" href="/static/custom.css">
		<script src="/static/metro/js/jquery/jquery.min.js"></script>
		<script src="/static/metro/js/jquery/jquery.widget.min.js"></script>
		<!--<script src="min/metro.min.js"></script>-->
		<script src="/static/custom.js"></script>
	</head>
	<body class="metro bg">
		<div class="container">
			<div id="btnnews1" class="tile tstyle" style="left:350px;">
				<span class="ttitle">News</span>
			</div>
			<div id="btnblog1" class="tile tstyle" style="left:400px;">
				<span class="ttitle">Blog</span>
			</div>

			<div class="tile half return">
				<img class="gray" src="/static/images/home.png"/>			
			</div>
		</div>
	</body>
</html>
